*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height:100%;
 
  
}

.app__header{
  background-color: #fff;
  padding:20px;
  border-bottom: 1px solid lightgrey;
}


.gifs{
    margin: 0 auto;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.gif{
  padding:0 2px;
}

.loader{
  color:blue;
}
