

.post{
    max-width:700px;
    background-color:white;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
    margin: 0px auto;
    margin-bottom: 100px;

}

.post__image{
    width: 100%;
    object-fit:contain;
    height: 500px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post__text{
    font-weight: normal;
    padding: 20px;
    

}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px 10px;

}

.post__avatar{
    margin-right:10px;
}
.post__data{
    font-weight: 300;
    margin-left:20px;
}

.form_text{
    margin-bottom: 5px;
}

.rounded{
    margin-bottom: 10px;

}

.post__cmnt{
    font-weight: 500;
    margin:0 auto;
}

